<!-- <p id="notice"><%= notice %></p> -->


<!-- <%= form_for([@tryout, PlayerTryout.new]) do |f| %>
  <p><%= f.submit "Register to this Tryout Online"%> </p>
<%end%> -->

<%= link_to 'Register to this Tryout Online',  player_tryouts_path(tryout_id: @tryout.id), method: :post %> |
<%= link_to 'Edit', edit_tryout_path(@tryout) %> |
<%= link_to 'Back', tryouts_path %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Tryout Details <%= link_to "Register", tryouts_path, class:'btn btn-success pull-right' %></h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Date:</strong>
          <%= @tryout.date.to_s(:long) %>
        </p>

        <p>
          <strong>Fee:</strong>
          $<%= number_with_precision(@tryout.fee, precision: 2) %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Address Line 1:</strong>
          <%= @tryout.address1 %>
        </p>

        <p>
          <strong>Address Line 2:</strong>
          <%= @tryout.address2 %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @tryout.city %>
        </p>

        <p>
          <strong>State:</strong>
          <%= @tryout.state %>
        </p>

        <p>
          <strong>ZIP:</strong>
          <%= @tryout.zip %>
        </p>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Registered Players</h1>
  </div>
  <div class="panel-body">
    <% @tryout.player_tryouts.each do |pt| %>
        <tr>
          <td><%= pt.player %></td>
        </tr>
    <% end %>
  </div>
</div>
