<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Profile_id</th>
      <th>Type</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Dob</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
	<td><%= player.profile_id %></td>
        <td><%= player.type %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.username %></td>
        <td><%= player.email %></td>
        <td><%= player.phone %></td>
        <td><%= player.gender %></td>
        <td><%= player.dob %></td>
        <td><%= player.address1 %></td>
        <td><%= player.address2 %></td>
        <td><%= player.city %></td>
        <td><%= player.state %></td>
        <td><%= player.zip %></td>
        <td><%= player.experience %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
